.jumbotron {
    text-align: center;
    background-image: linear-gradient(to right, black, red);
    color: white;
    border-radius: 0;
    height: 100vh;
}
.icon {
    text-decoration: none;
    color: white;
}
.icon:hover {
    color:red;
}
.footer {
    background-image: linear-gradient(to right, black, red);
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}
#down-arrow {
    margin-top: 50vh;
}
#arrow-icon:hover {
    color: red;
    cursor: pointer;
}
#projects {
    height: 1000px;
}
#about-me {
    margin-top: 3vh;
}
#projects-header {
    width: 100%;
    text-align: center;
}
.card-img-top {
}
.left-button {
    position: absolute;
    bottom: 5px;
    left: 3.7%;
}
.right-button {
    position: absolute;
    bottom: 5px;
    left: 32%;
}
.card-text {
    padding-bottom: 10px;
}