html {
    background-color: black;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x:hidden;
}
.jumbotron {
    text-align: center;
    background-image: linear-gradient(to right, black, red);
    color: white;
    border-radius: 0;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    margin-bottom: 0;
}
#project-arrow {
    text-decoration: none;
    color: white;
    
}
.container-fluid {
    padding-right: 0; 
    padding-left: 0; 
}
.footer {
    background-image: linear-gradient(to right, black, red);
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.icon {
    color: white;
}
#projects {
    background-image: linear-gradient(to right, black, lime);
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    padding-bottom: 10px;
}
#about-me {
    margin-top: 3vh;
}
.header {
    width: 100vw;
    max-width: 100vw;
    text-align: center;
    color: white;
}
.left-button {
    position: relative;
    width: 200px;
}
.right-button {
    position: relative;
    margin-top: 10px;
    width: 200px;
}
.btn-success {
    border-radius: 0;
}
#contact {
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-image: linear-gradient(to right, black, blue);
}

.fa-linkedin:hover {
    color: red;
}
.fa-github-square:hover {
    color: red;
}
#carousel-container {
    width: 80vw;
}
.caption-background {
    background-color:black;
    border: 1px solid white;
    padding: 10px;
    width: 50%;
}
.card-deck {
    display: none;
}
.about-me-width {
    width: 50vw;
}
.project-arrow{
    text-align: center;
    width: 11px;
    margin-left: 49.5%;
    margin-top: 50vh;
    transform: translate(-50%,-50%);
}
.project-arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    
    animation: animate 2s infinite;
}
.project-arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.project-arrow span:nth-child(3){
    animation-delay: -0.4s;
}
.contact-arrow{
    text-align: center;
    width: 11px;
    margin-left: 49.5%;
    margin-top: 10vh;
    transform: translate(-50%,-50%);
}
.contact-arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    
    animation: animate 2s infinite;
}
.contact-arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.contact-arrow span:nth-child(3){
    animation-delay: -0.4s;
}
.fa-file-pdf:hover {
    color: blue;
    cursor: pointer;
}
.fixed-bottom {
    color: white;
    background-image: linear-gradient(to right, black, white);
}
.breadcrumb {
    background: black;
    margin-bottom: 0;
    border-radius: 0;
}
.breadcrumb-item::before { 
    content: "" !important;
}
.crumb-link {
    color: white;
}
.contact-link:hover {
    color:blue;
}
#about-crumb:hover {
    color: red;
    text-decoration: none;
}
#project-crumb:hover {
    color: lime;
    text-decoration: none;
}
#contact-crumb:hover {
    color: blue;
    text-decoration: none;
}
#contact-icon {
    color:white;
}
#contact-icon:hover {
    color:blue;
}
.contact-info {
    text-align: center;
    margin-top: 15%;
}
.contact-text {
    color: white;
}
#linked-link {
    text-decoration: underline;
}
#git-link {
    text-decoration: underline;
}
#resume-link {
    text-decoration: underline;
}
#contact-mobile {
    display: none;
}
#resume:hover {
    cursor: pointer;
    text-decoration: none;
    color: blue;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
        border-bottom: 5px solid black;
        border-right: 5px solid black;        
    }
}
@media only screen and (max-width: 1180px) {
    .btn-success {
        margin-top: 8px;
        width: 150px;
    }
}
@media only screen and (max-width: 600px) {
    .contact-arrow{
        display: none;
    }
    .contact-arrow-mobile{
        text-align: center;
        width: 11px;
        margin-left: 49.5%;
        margin-top: 10vh;
        transform: translate(-50%,-50%);
    }
    .contact-arrow-mobile span{
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        
        animation: animate 2s infinite;
    }
    .contact-arrow-mobile span:nth-child(2){
        animation-delay: -0.2s;
    }
    .contact-arrow-mobile span:nth-child(3){
        animation-delay: -0.4s;
    }
    body {
        overflow-x:hidden;
    }
    #carousel-container {
        display: none;
    }
    footer {
        display: none;
    }
    .card-deck {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .card-text {
        padding-bottom: 10px;
    }
    .card {
        color: white;
        background-color: black;
        margin: 0 auto;
        float: none;
        width: 75vw;
    }
    .card-img-top {
        margin-top: 0;
    }
    .card-title {
        padding-top: 0;
        text-align: initial;
    }
    .card-text {
        text-align: initial;
    }
    .arrow{
        position: static;
        top: 70%;
        margin-left: 51% !important;
        margin-top: 70px;
        transform: translate(-50%,-50%);
    }
    .arrow span{
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    .arrow span:nth-child(2){
        animation-delay: -0.2s;
    }
    .arrow span:nth-child(3){
        animation-delay: -0.4s;
    }
    .contact-arrow{
        text-align: center;
        width: 11px;
        margin-left: 49.5% !important;
        margin-top: 7vh;
        transform: translate(-50%,-50%);
        padding-bottom: 20px;
    }
    .contact-arrow span{
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        margin: -10px;
        transform: rotate(45deg);
        
        animation: animate 2s infinite;
    }
    .contact-arrow span:nth-child(2){
        animation-delay: -0.2s;
    }
    .contact-arrow span:nth-child(3){
        animation-delay: -0.4s;
    }
    #contact {
        display: none;
    }
    #contact-mobile {
        display: block;
        min-height: 100vh;
        width: 100vw;
        max-width: 100vw;
        background-image: linear-gradient(to right, black, blue);
    }
    
    @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-20px,-20px);
            border-bottom: 5px solid white;
            border-right: 5px solid white;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(20px,20px);
            border-bottom: 5px solid black;
            border-right: 5px solid black;
          }
    }
    
}
  