body {
    background-color: black;
}
.jumbotron {
    text-align: center;
    background-image: linear-gradient(to right, black, red);
    color: white;
    border-radius: 0;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
}
#project-arrow {
    text-decoration: none;
    color: white;
    margin-top: 55vh;
}
#project-arrow:hover {
    color:red;
    cursor: pointer;
}
.footer {
    background-image: linear-gradient(to right, black, red);
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.icon {
    color: white;
}
#projects {
    background-image: linear-gradient(to right, black, lime);
    min-height: 100vh;
    width: 100%;
}
#about-me {
    margin-top: 3vh;
}
.header {
    width: 100%;
    text-align: center;
    color: white;
}
.card-title {
    padding-top: 0;
}
.left-button {
    position: absolute;
    bottom: 5px;
    left: 3.7%;
}
.right-button {
    position: absolute;
    bottom: 5px;
    margin-left: 131px;
}
.card-text {
    padding-bottom: 10px;
}
.card {
    color: white;
    background-color: black;
}
.card-img-top {
    margin-top: 0;
}
#contact {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, black, blue);
}
#contact-arrow-div {
    text-align: center;
    color: white;
    margin-top: 15px;
}
#contact-arrow:hover {
    color: lime;
    cursor: pointer;
}
.fa-linkedin:hover {
    color: red;
}
.fa-github-square:hover {
    color: red;
}
.btn {
    border-radius: 50px;
}
